Exercise1/Moore/a.out
Exercise1/Moore/pump.vcd
Exercise1/Moore/tank.vcd
Exercise1/Moore/tank_control/__Previews
Exercise1/Moore/tank_control/History
Exercise1/Moore/pump.vcd
Exercise1/Moore/report/ej1moore.log
Exercise1/Moore/report/ej1moore.synctex.gz
Exercise1/Moore/report/ej1moore.aux
Exercise1/Moore/report/container.aux
Exercise1/Moore/report/container.log
Exercise1/Moore/report/container.synctex.gz
Exercise1/Moore/report/container.pdf
Exercise1/Moore/report/container.pdf
Exercise1/Moore/tank_control/debug.log
Exercise1/Ex1.log
