Exercise1/Moore/a.out
Exercise1/Moore/pump.vcd
Exercise1/Moore/tank.vcd
Exercise1/Moore/tank_control/__Previews
Exercise1/Moore/tank_control/History
Exercise1/Moore/pump.vcd
Exercise1/Moore/report/ej1moore.log
Exercise1/Moore/report/ej1moore.synctex.gz
Exercise1/Moore/report/ej1moore.aux
